@import "true";
@import "create-theme-color-hsl.scss";

$mocked-color-name: "mocked-name";
$mocked-color-value: #fff;
$mocked-default-hover: 0.5;

@include describe("@tame-your-theme/scss - create color hsl") {
  @include it(
    "create-theme-color-hsl() - creates a theme variable for hue, saturation, lightness and hover"
  ) {
    @include assert {
      @include output {
        @include create-theme-color(
          $mocked-color-name,
          $mocked-color-value,
          $mocked-default-hover
        );
      }

      @include expect {
        #{$mocked-color-name}-h: 0deg;
        #{$mocked-color-name}-s: 0%;
        #{$mocked-color-name}-l: 100%;
        #{$mocked-color-name}: hsl(
          var(#{$mocked-color-name}-h),
          var(#{$mocked-color-name}-s),
          var(#{$mocked-color-name}-l)
        );
        #{$mocked-color-name}-hover: hsla(
          var(#{$mocked-color-name}-h),
          var(#{$mocked-color-name}-s),
          var(#{$mocked-color-name}-l),
          $mocked-default-hover
        );
      }
    }
  }

  @include it("changes alpha for the color name given") {
    $mocked-alpha-opacity: 0.7;

    @include assert-equal(
      change-alpha($mocked-color-name, $mocked-alpha-opacity),
      hsla(
        var(#{$mocked-color-name}-h),
        var(#{$mocked-color-name}-s),
        var(#{$mocked-color-name}-l),
        $mocked-alpha-opacity
      )
    );
  }

  @include it("darken-theme-color() - darken theme color") {
    $mocked-lightness: 10%;

    @include assert-equal(
      darken-theme-color($mocked-color-name, $mocked-lightness),
      hsl(
        var(#{$mocked-color-name}-h),
        var(#{$mocked-color-name}-s),
        calc(var(mocked-name-l) + -#{$mocked-lightness})
      )
    );
  }

  @include it("lighten-theme-color() - lighten theme color") {
    $mocked-lightness: 10%;

    @include assert-equal(
      lighten-theme-color($mocked-color-name, $mocked-lightness),
      hsl(
        var(#{$mocked-color-name}-h),
        var(#{$mocked-color-name}-s),
        calc(var(mocked-name-l) + #{$mocked-lightness})
      )
    );
  }

  @include it("changes lightness for the color name given") {
    $mocked-lightness: 10%;

    @include assert-equal(
      change-lightness($mocked-color-name, $mocked-lightness),
      hsl(
        var(#{$mocked-color-name}-h),
        var(#{$mocked-color-name}-s),
        calc(var(mocked-name-l) + 10%)
      )
    );
  }
}
