@import "create-theme-color-structure.scss";

@mixin create-theme-color($color-name, $color-value, $hover: $default-hover) {
  @include create-theme-color-structure(
    $color-name,
    $hue: hue($color-value),
    $saturation: saturation($color-value),
    $lightness: lightness($color-value)
  );
}

@function change-alpha($color-name, $opacity) {
  @return hsla(
    var(#{$color-name + "-h"}),
    var(#{$color-name + "-s"}),
    var(#{$color-name + "-l"}),
    $opacity
  );
}

@mixin create-theme-by-factors($color-name, $factors) {
  @each $name, $factor in $factors {
    @include create-theme-color-structure(
      $name,
      $hue: calc(var(#{$color-name + "-h"}) + $factor),
      $saturation: var(#{$color-name + "-s"}),
      $lightness: var(#{$color-name + "-l"})
    );
  }
}

@function darken-theme-color($color-name, $lightness) {
  @return change-lightness($color-name, -$lightness);
}

@function lighten-theme-color($color-name, $lightness) {
  @return change-lightness($color-name, $lightness);
}

@function change-lightness($color-name, $lightness) {
  @return hsl(
    var(#{$color-name + "-h"}),
    var(#{$color-name + "-s"}),
    calc(var(#{$color-name + "-l"}) + #{$lightness})
  );
}
