@import "true";
@import "./create-theme-color-hsl.scss";

$mocked-color-name: "mocked-name";
$mocked-color-value: #fff;
$mocked-default-hover: 0.5;

@include describe("@tame-your-theme/scss") {
  @include it(
    "create-theme-color-hsl() - creates a theme variable for hue, saturation, lightness and hover"
  ) {
    @include assert {
      @include output {
        @include create-theme-color(
          $mocked-color-name,
          $mocked-color-value,
          $mocked-default-hover
        );
      }

      @include expect {
        #{$mocked-color-name}-h: 0deg;
        #{$mocked-color-name}-s: 0%;
        #{$mocked-color-name}-l: 100%;
        #{$mocked-color-name}: hsl(
          var(#{$mocked-color-name}-h),
          var(#{$mocked-color-name}-s),
          var(#{$mocked-color-name}-l)
        );
        #{$mocked-color-name}-hover: hsla(
          var(#{$mocked-color-name}-h),
          var(#{$mocked-color-name}-s),
          var(#{$mocked-color-name}-l),
          $mocked-default-hover
        );
      }
    }
  }

  @include it(
    "create-theme-color-complementary() - creates complementary color harmony"
  ) {
    @include assert {
      @include output {
        @include create-theme-color-complementary(
          $mocked-color-name,
          $mocked-color-value
        );
      }

      @include contains {
        #{$mocked-color-name}-h: 0deg;
        #{$mocked-color-name}: hsl(
          var(#{$mocked-color-name}-h),
          var(#{$mocked-color-name}-s),
          var(#{$mocked-color-name}-l)
        );
        #{$mocked-color-name}-complementary: hsl(
          calc(var(#{$mocked-color-name}-h) + 180deg),
          var(#{$mocked-color-name}-s),
          calc(var(#{$mocked-color-name}-l))
        );
      }
    }
  }

  @include it("create-theme-color-triadic() - creates triadic color harmony") {
    @include assert {
      @include output {
        @include create-theme-color-triadic(
          $mocked-color-name,
          $mocked-color-value
        );
      }

      @include contains {
        #{$mocked-color-name}-h: 0deg;
        #{$mocked-color-name}: hsl(
          var(#{$mocked-color-name}-h),
          var(#{$mocked-color-name}-s),
          var(#{$mocked-color-name}-l)
        );
        #{$mocked-color-name}-triadic-second-hue: hsl(
          calc(var(#{$mocked-color-name}-h) + 120deg),
          var(#{$mocked-color-name}-s),
          calc(var(#{$mocked-color-name}-l))
        );
        #{$mocked-color-name}-triadic-third-hue: hsl(
          calc(var(#{$mocked-color-name}-h) + 240deg),
          var(#{$mocked-color-name}-s),
          calc(var(#{$mocked-color-name}-l))
        );
      }
    }
  }

  @include it("create-theme-color-tetradic() - creates triadic color harmony") {
    @include assert {
      @include output {
        @include create-theme-color-tetradic(
          $mocked-color-name,
          $mocked-color-value
        );
      }

      @include contains {
        #{$mocked-color-name}-h: 0deg;
        #{$mocked-color-name}: hsl(
          var(#{$mocked-color-name}-h),
          var(#{$mocked-color-name}-s),
          var(#{$mocked-color-name}-l)
        );
        #{$mocked-color-name}-tetradic-second-hue: hsl(
          calc(var(#{$mocked-color-name}-h) + 30deg),
          var(#{$mocked-color-name}-s),
          calc(var(#{$mocked-color-name}-l))
        );
        #{$mocked-color-name}-tetradic-third-hue: hsl(
          calc(var(#{$mocked-color-name}-h) + 180deg),
          var(#{$mocked-color-name}-s),
          calc(var(#{$mocked-color-name}-l))
        );
        #{$mocked-color-name}-tetradic-fourth-hue: hsl(
          calc(var(#{$mocked-color-name}-h) + 210deg),
          var(#{$mocked-color-name}-s),
          calc(var(#{$mocked-color-name}-l))
        );
      }
    }
  }

  @include it(
    "create-theme-color-split-complementary() - creates split complementary harmony"
  ) {
    @include assert {
      @include output {
        @include create-theme-color-split-complementary(
          $mocked-color-name,
          $mocked-color-value
        );
      }

      @include contains {
        #{$mocked-color-name}-h: 0deg;
        #{$mocked-color-name}: hsl(
          var(#{$mocked-color-name}-h),
          var(#{$mocked-color-name}-s),
          var(#{$mocked-color-name}-l)
        );
        #{$mocked-color-name}-split-complementary-second-hue: hsl(
          calc(var(#{$mocked-color-name}-h) + -150deg),
          var(#{$mocked-color-name}-s),
          calc(var(#{$mocked-color-name}-l))
        );
        #{$mocked-color-name}-split-complementary-third-hue: hsl(
          calc(var(#{$mocked-color-name}-h) + 150deg),
          var(#{$mocked-color-name}-s),
          calc(var(#{$mocked-color-name}-l))
        );
      }
    }
  }

  @include it("changes alpha for the color name given") {
    $mocked-alpha-opacity: 0.7;

    @include assert-equal(
      change-alpha($mocked-color-name, $mocked-alpha-opacity),
      hsla(
        var(#{$mocked-color-name}-h),
        var(#{$mocked-color-name}-s),
        var(#{$mocked-color-name}-l),
        $mocked-alpha-opacity
      )
    );
  }

  @include it("darken-theme-color() - darken theme color") {
    $mocked-lightness: 10%;

    @include assert-equal(
      darken-theme-color($mocked-color-name, $mocked-lightness),
      hsl(
        var(#{$mocked-color-name}-h),
        var(#{$mocked-color-name}-s),
        calc(var(mocked-name-l) + -#{$mocked-lightness})
      )
    );
  }

  @include it("lighten-theme-color() - lighten theme color") {
    $mocked-lightness: 10%;

    @include assert-equal(
      lighten-theme-color($mocked-color-name, $mocked-lightness),
      hsl(
        var(#{$mocked-color-name}-h),
        var(#{$mocked-color-name}-s),
        calc(var(mocked-name-l) + #{$mocked-lightness})
      )
    );
  }

  @include it("changes lightness for the color name given") {
    $mocked-lightness: 10%;

    @include assert-equal(
      change-lightness($mocked-color-name, $mocked-lightness),
      hsl(
        var(#{$mocked-color-name}-h),
        var(#{$mocked-color-name}-s),
        calc(var(mocked-name-l) + 10%)
      )
    );
  }
}
