@import "~@tame-your-theme/scss";
@import "../scss/palette.scss";
@import "../scss/guidelines.scss";

:root {
  --independently-primary-color-h: 39deg;
  --independently-primary-color-s: 100%;
  --independently-primary-color-l: 50%;
  --independently-primary-color: hsl(
    var(--independently-primary-color-h),
    var(--independently-primary-color-s),
    var(--independently-primary-color-l)
  );
  --independently-primary-color-hover: hsla(
    var(--independently-primary-color-h),
    var(--independently-primary-color-s),
    var(--independently-primary-color-l),
    0.5
  );

  --independently-background-color-h: 0deg;
  --independently-background-color-s: 0%;
  --independently-background-color-l: 100%;
  --independently-background-color: hsl(
    var(--independently-background-color-h),
    var(--independently-background-color-s),
    var(--independently-background-color-l)
  );
  --independently-background-color-hover: hsla(
    var(--independently-background-color-h),
    var(--independently-background-color-s),
    var(--independently-background-color-l),
    0.5
  );

  --independently-background-contrast-color-h: 0deg;
  --independently-background-contrast-color-s: 0%;
  --independently-background-contrast-color-l: 13%;
  --independently-background-contrast-color: hsl(
    var(--independently-background-contrast-color-h),
    var(--independently-background-contrast-color-s),
    var(--independently-background-contrast-color-l)
  );
  --independently-background-contrast-color-hover: hsla(
    var(--independently-background-contrast-color-h),
    var(--independently-background-contrast-color-s),
    var(--independently-background-contrast-color-l),
    0.5
  );
}

.themed-css-independently {
  text-align: center;
  background-color: var(--independently-background-color);
  color: var(--independently-background-contrast-color);

  h1 {
    color: var(--independently-primary-color);
    border-bottom: none;
  }

  label {
    cursor: pointer;

    input {
      margin-right: $tiny;
      margin-top: $normal;
    }
  }

  border: 1px solid
    change-lightness(--independently-background-contrast-color, 80%);
  border-radius: $small;
  padding: $small;
  margin-top: $normal;
}
