$baseFactor: 6px;

$unitFactorTiny: 1;
$unitFactorSmall: 2;
$unitFactorNormal: 4;
$unitFactorLarge: 8;
$unitFactorHuge: 16;

$hair: $baseFactor / $unitFactorSmall; // 3
$tiny: $baseFactor * $unitFactorTiny; // 6
$small: $baseFactor * $unitFactorSmall; // 12
$normal: $baseFactor * $unitFactorNormal; // 24
$large: $baseFactor * $unitFactorLarge; // 48
$huge: $baseFactor * $unitFactorHuge; // 96
